*           
 h1
    {
        font-size: 45px;
    }

#game
    {
        text-align: left;
    }

html, body
    {
        background-color: aquamarine;
        line-height: 30px;
        font-family: 'Lato', sans-serif;
    }